body{
    font-family: sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
}



form{
    background-color: rgb(255, 251, 246);
    /* border: 1px solid; */
    border-radius: 70px;
    width: 70%;
    padding: 24px 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: -2px -2px 20px 2px gainsboro;
    
}

div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    width: 80%;
}

input[type="search"]{
    /* margin: 1rem; */
    height: 2rem;
    width: 100%;
    border: none;
    border: 2px solid rgb(45, 157, 232);
    border-radius: 2rem;
    font-size: larger;
    padding: 24px 12px;
}

input[type="number"]{
    /* margin: 1rem; */
    border: 2px solid rgb(45, 157, 232);
    border-radius: 2rem;
    width: 100%;
    font-size: larger;
    padding: 14px 12px;
}

#result{
    font-size: larger;
    /* border: 1px solid; */
    height: 2rem;
    padding:0px 12px;
    transition: height .1s ease-in;
}

#result p{
    line-height: 2rem;
}

button:hover{
    background-color: rgb(7, 243, 164);
    border: 2px solid gray;
    color: black;
    transition: all .1s ease;
}

button{
    background-color: rgb(0, 226, 151);
    color: rgb(56, 56, 54);
    letter-spacing: 1px;
    border:none;
    cursor: pointer;
    border-radius: 2rem;
    width:100%;
    height: 3rem;
    font-weight: 600;
    font-size: large;

}

@media(width>800px){
    form{
        width: 520px;
    }
}

@media(width<480px){
    h1,#result{
        text-align: center;
        font-size: large;
    }
}